@mixin block-name_underline {
    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 85px;
        height: 2px;
        border-radius: 3px;
        background: $mainColor-purple;
        @media (max-width: 768px) {
            bottom: 10px;
        }
    }
}

@mixin skills-line_light {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -25px;
        width: 100%;
        height: 10px;
        background: $bgColor-lightGray;
        border-radius: 3px;
        @media (max-width: 768px) {
            height: 7px;
        }
    }
}
@mixin skills-line_dark($value) {
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -25px;
        width: $value;
        height: 10px;
        background: $bgColor-mainGray;
        border-radius: 3px;
        @media (max-width: 768px) {
            height: 7px;
        }
    }
}
