@mixin menu-hover {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-purple;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        z-index: 1;
    }
}

@mixin block-name_underline {
    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 85px;
        height: 2px;
        border-radius: 3px;
        background: $color-purple;
        @media (max-width: 768px) {
            bottom: 10px;
        }
    }
}

@mixin skills-line_light {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -25px;
        width: 100%;
        height: 7px;
        background: $color-ligthBrown;
        border-radius: 3px;
        @media (max-width: 768px) {
            height: 7px;
        }
    }
}
@mixin skills-line_dark($value) {
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -25px;
        width: $value;
        height: 7px;
        background: $color-green;
        border-radius: 3px;
        @media (max-width: 768px) {
            height: 7px;
        }
    }
}
