//Bright colors
$mainColor-blue: #123c69;
$mainColor-purple: #ac3b61;
$mainColor-pink: #d37296;
$mainColor-lightBlue: #3e80b2;

//Background colors
$bgColor-mainGray: #bab2b5;
$bgColor-mainBeige: #eee2dc;
$bgColor-lightGray: #e1dbdd;
$bgColor-2lightGray: #f2f0f0;
$bgColor-lightBeige: #faf1ec;

$bgColor-peach: #edc7b7;
$bgColor-darkPeach: #ba9484;

//Text color
$textColor: #2e2f30;
