.about {
    padding: 20px 0px 50px;
    @media (max-width: 768px) {
        padding: 20px 0px 40px 0px;
    }
    &__card {
        padding: 10px;
        position: relative;
        margin: 40px 0px 0px 0px;
        display: flex;
        align-items: center;
        overflow: hidden;
        @media (max-width: 768px) {
            margin: 34px 0px 0px 0px;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__photo {
        flex: 1 1 50%;
        width: 100%;
        max-height: 410px;
        overflow: hidden;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
        @media (max-width: 768px) {
            margin: 0px 0px 50px 0px;
        }
        @media (max-width: 576px) {
            margin: 0px 0px 30px 0px;
            max-height: 300px;
        }
    }
    &__text {
        // background-color: $color-orange;
        margin: 0px 0px 0px 30px;
        flex: 1 1 50%;
        padding: 25px 47px;
        color: $color-darkPurple;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        width: 100%;
        @media (max-width: 768px) {
            margin: 0;
            font-size: 18px;
            padding: 15px;
        }
        & p {
            &:not(:last-child) {
                margin: 0px 0px 20px 0px;
                @media (max-width: 768px) {
                    margin: 0px 0px 15px 0px;
                }
            }
        }
    }
}
