.gallery {
    margin: 100px 0px 0px 0px;
    text-align: center;
    font-size: 36px;
    line-height: 130%;
    &-button {
        margin: 80px auto;
        width: 270px;
        @media (min-width: 576px) {
            width: 300px;
        }
    }
}
