.menu {
    padding: 18px 0px 8px 0px;
    height: 100px;
    background: linear-gradient(0deg, #efebeb, #efebeb);
    &__container {
        height: 100%;
    }
    &__wrapper {
        padding: 17px 100px;
        display: flex;
        @media (max-width: 992px) {
            padding: 17px 0px;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        flex: 0 1 33.33333%;
        @media (max-width: 768px) {
            display: block;
            text-align: center;
            font-size: 24px;
        }
    }
    &__item {
        & a {
            padding: 10px 0px;
            display: block;
            width: 100%;
            margin: 0 auto;
            color: $mainColor-blue;
            &:hover {
                color: $mainColor-purple;
            }
        }
    }
    &__logo {
        display: none;
        @media (max-width: 768px) {
            display: block;
            margin: 0px 0px 0px 13px;
        }
    }

    &__layout {
        z-index: 4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
}

.logo {
    &__item {
        margin: -22px auto;
    }
}
