.menu-burger {
    transition: all 0.7s ease;
    visibility: hidden;
    z-index: 5;

    position: fixed;
    top: 0;
    right: -100%;
    padding: 100px 0px 0px 0px;
    width: 516px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.81);
    &._opened {
        visibility: visible;
        right: 0;
    }

    @media (max-width: 576px) {
        width: 300px;
    }
    &__items {
        display: block;
        text-align: center;
        font-size: 24px;
    }
    &__item {
        & a {
            padding: 10px 0px;
            display: block;
            width: 60%;
            margin: 0 auto;
            color: $mainColor-blue;
        }
        &:not(:last-child) {
            margin: 0px 0px 15px 0px;
        }
    }
}
