.menu {
    padding: 25px 0px;
    height: 100px;
    @media (max-width: 768px) {
        height: 80px;
    }
    &__container {
        height: 100%;
    }

    &__items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0px 35px 0px 0px;
        @media (max-width: 768px) {
            z-index: 5;
            flex-direction: column;
            justify-content: flex-start;
            margin: 80px 0px 0px 0px;
            position: fixed;
            top: 0;
            right: -100%;
            width: 512px;
            height: 100vh;
            background-color: $color-white;
            &._opened {
                visibility: visible;
                right: 0;
            }
        }
    }
    &__item {
        position: relative;
        transition: 0.5 all ease;
        padding: 10px 0px;
        &:not(:first-child) {
            margin: 0px 0px 0px 2px;
        }
        &:hover {
            @include menu-hover;
        }
        @media (max-width: 768px) {
            padding: 15px 0px;
            &:not(:last-child) {
                margin: 0px 0px 15px 0px;
            }
        }
        & a {
            padding: 10px 17px;
            position: relative;
            z-index: 1;
            font-weight: 500;
            color: $color-darkPurple;
            cursor: pointer;
            &:hover {
                color: $color-white;
            }
            @media (max-width: 992px) {
                font-size: 18px;
            }
            @media (max-width: 768px) {
                padding: 15px 150px;
            }
        }
    }
    &__layout {
        z-index: 4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
}
