.menu {
    padding: 18px 0px 8px 0px;
    height: 100px;
    background: linear-gradient(0deg, #efebeb, #efebeb);

    &__wrapper {
        padding: 17px 100px;
        display: flex;
        @media (max-width: 992px) {
            padding: 17px 0px;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        flex: 0 1 33.33333%;
        @media (max-width: 768px) {
            display: block;
            text-align: center;
            font-size: 24px;
        }
    }
    &__burger {
        transition: all 0.8s ease;
        display: none;
        z-index: 5;
        @media (max-width: 768px) {
            position: absolute;
            top: 0;
            right: -516px;
            display: block;
            padding: 100px 0px 0px 0px;
            width: 516px;
            height: 100vh;
            background: rgba(255, 255, 255, 0.81);
            &_show {
                right: 0;
            }
        }
        @media (max-width: 576px) {
            width: 300px;
        }
    }
    &__item {
        & a {
            padding: 10px 0px;
            display: block;
            width: 70%;
            margin: 0 auto;
            color: $mainColor-blue;
            &:hover {
                color: $mainColor-purple;
            }
        }
        @media (max-width: 768px) {
            &:not(:last-child) {
                margin: 0px 0px 15px 0px;
            }
        }
        // @media (max-width: 451px) {
        //     &:not(:last-child) {
        //         margin: 0px 0px 18px 0px;
        //     }
        // }
    }
    &__logo {
        display: none;
        @media (max-width: 768px) {
            display: block;
            margin: 0px 0px 0px 13px;
        }
    }
}

.logo {
    &__item {
        margin: -22px auto;
    }
}
