.portfolio {
    padding: 20px 0px 90px 0px;
    @media (max-width: 768px) {
        padding: 20px 0px 40px 0px;
    }
    &__slider {
        margin: 50px 0px 0px 0px;
        @media (max-width: 576px) {
            margin: 30px 0px 0px 0px;
        }
    }
    &__button {
        display: block;
        margin: 45px auto 0;
        width: 270px;
    }
}
