.skills {
    padding: 20px 0px 50px 0px;
    @media (max-width: 768px) {
        padding: 20px 0px 40px 0px;
    }
    &__wrapper {
        margin: 20px 0px 0px 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        @media (max-width: 768px) {
            margin: 0;
            grid-template-columns: 1fr;
        }
    }
    &__item {
        margin: 30px 0px 50px 0px;
        padding: 0px 10px;
        // max-width: 350px;
        text-align: center;
        @media (max-width: 768px) {
            // max-width: 100%;
        }
    }
}

.title-skills {
    font-family: "Source Serif Pro", serif;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: $color-purpleDarker;
    position: relative;
    @include skills-line_light;
    @media (max-width: 768px) {
        font-size: 20px;
    }
    &_html {
        @include skills-line_dark(85%);
    }
    &_css {
        @include skills-line_dark(80%);
    }
    &_js {
        @include skills-line_dark(55%);
    }
    &_figma {
        @include skills-line_dark(80%);
    }
    &_ps {
        @include skills-line_dark(60%);
    }
    &_php {
        @include skills-line_dark(15%);
    }
    &_gulp {
        @include skills-line_dark(65%);
    }
    &_git {
        @include skills-line_dark(45%);
    }
}
